link(rel='stylesheet', key=val, href='/cv/css/bootstrap.min.css?v='+text)
//- link(rel='stylesheet', key=val, href='/cv/css/fa-brands.css?v='+text)
//- link(rel='stylesheet', key=val, href='/cv/css/fa-regular.css?v='+text)
//- link(rel='stylesheet', key=val, href='/cv/css/fa-solid.css?v='+text)
//- link(rel='stylesheet', key=val, href='/cv/css/fontawesome.css?v='+text)
//- link(rel='stylesheet', key=val, href='/cv/css/linericon.css?v='+text)
link(rel='stylesheet', key=val, href='/cv/css/bootstrap/bootstrap-icons.css?v='+text)
link(rel='stylesheet', key=val, href='/cv/css/jquery.fancybox.min.css?v='+text)
link(rel='stylesheet', key=val, href='/cv/css/chat.css?v='+text)
link(rel='stylesheet', key=val, href='/cv/css/main.css?v='+text)
