link(rel='stylesheet', key=val, href='./css/bootstrap.min.css?v='+text)
link(rel='stylesheet', key=val, href='./css/fa-brands.css?v='+text)
link(rel='stylesheet', key=val, href='./css/fa-regular.css?v='+text)
link(rel='stylesheet', key=val, href='./css/fa-solid.css?v='+text)
link(rel='stylesheet', key=val, href='./css/fontawesome.css?v='+text)
link(rel='stylesheet', key=val, href='./css/linericon.css?v='+text)
link(rel='stylesheet', key=val, href='./css/jquery.fancybox.min.css?v='+text)
link(rel='stylesheet', key=val, href='./css/chat.css?v='+text)
link(rel='stylesheet', key=val, href='./css/main.css?v='+text)
