script(key=val, src='/cv/js/offline.js?v='+text)
script(key=val, src='/cv/js/jquery.min.js?v='+text)
script(key=val, src='/cv/js/popper.min.js?v='+text)
script(key=val, src='/cv/js/bootstrap.min.js?v='+text)
script(key=val, src='/cv/js/typed.min.js?v='+text)
script(key=val, src='/cv/js/jquery.fancybox.min.js?v='+text)
script(key=val, src='/cv/js/domChange.js?v='+text)
script(key=val, src='/cv/js/domReady.js?v='+text)
script(key=val, src='/cv/js/encode.js?v='+text)
script(key=val, src='/cv/js/animateAnything.js?v='+text)
script(key=val, src='/cv/js/chat.js?v='+text)
