script(key=val, src='./js/jquery.min.js?v='+text)
script(key=val, src='./js/popper.min.js?v='+text)
script(key=val, src='./js/bootstrap.min.js?v='+text)
script(key=val, src='./js/typed.min.js?v='+text)
script(key=val, src='./js/jquery.fancybox.min.js?v='+text)
script(key=val, src='./js/domChange.js?v='+text)
script(key=val, src='./js/domReady.js?v='+text)
script(key=val, src='./js/encode.js?v='+text)
script(key=val, src='./js/animateAnything.js?v='+text)
script(key=val, src='./js/chat.js?v='+text)
