doctype html
//
	.
	 _   _  _____ _    ___     ________ _   _
	| \ | |/ ____| |  | \ \   / /  ____| \ | |
	|  \| | |  __| |  | |\ \_/ /| |__  |  \| |
	| . ` | | |_ | |  | | \   / |  __| | . ` |
	| |\  | |__| | |__| |  | |  | |____| |\  |
	|_| \_|\_____|\____/   |_|  |______|_| \_|
	Coding by: Nguyen Pham
	Tel: 682-203-1334
	Email: baonguyenyam@gmail.com
	URL: fb.com/pham.nguyen.bao.nguyen,
	baonguyenyam.github.io
	baonguyenyam.blogspot.com
	License Name: NGUYEN PHAM
	Serial Number: #{key.slice(70, 75).toUpperCase()}-#{key.slice(80, 85).toUpperCase()}-#{key.slice(90, 95).toUpperCase()}-#{key.slice(40, 45).toUpperCase()}-#{key.slice(30, 35).toUpperCase()}
	Hash Key: #{key}
	License Key: #{key.slice(50, 100)}__________#{key.slice(70, 170)}_#{key}____#{key}#{key}________#{key.slice(0, 50)}
html(serial-key=key.slice(70, 75).toUpperCase()+'-'+key.slice(80, 85).toUpperCase()+'-'+key.slice(90, 95).toUpperCase()+'-'+key.slice(40, 45).toUpperCase()+'-'+key.slice(30, 35).toUpperCase(), hash-key=key, platform=platform, openssl=version.openssl, unicode=version.unicode, http2=version.nghttp2, chrome-v8=version.v8, http-parser=version.http_parser,  zlib=version.zlib,  modules=version.modules,  nodejs=version.node, cpu=cpu.user, system=cpu.system, memory-rss=memory.rss, memory-heaptotal=memory.heapTotal, memory-heapused=memory.heapUsed, memory-external=memory.external, lang='en')
	- var text = Math.random()
	- var hash = key
	head(hash-key=hash.slice(50, 100))
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet")
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		meta(name='msapplication-TileColor', content='#48a4bc')
		meta(name='msapplication-TileImage', content='/favicon/ms-icon-144x144.png?v='+text)
		meta(name='theme-color', content='#48a4bc')
		title Nguyen Pham - Curriculum Vitae
		link(rel='apple-touch-icon', sizes='57x57', href='/favicon/apple-icon-57x57.png?v='+text)
		link(rel='apple-touch-icon', sizes='60x60', href='/favicon/apple-icon-60x60.png?v='+text)
		link(rel='apple-touch-icon', sizes='72x72', href='/favicon/apple-icon-72x72.png?v='+text)
		link(rel='apple-touch-icon', sizes='76x76', href='/favicon/apple-icon-76x76.png?v='+text)
		link(rel='apple-touch-icon', sizes='114x114', href='/favicon/apple-icon-114x114.png?v='+text)
		link(rel='apple-touch-icon', sizes='120x120', href='/favicon/apple-icon-120x120.png?v='+text)
		link(rel='apple-touch-icon', sizes='144x144', href='/favicon/apple-icon-144x144.png?v='+text)
		link(rel='apple-touch-icon', sizes='152x152', href='/favicon/apple-icon-152x152.png?v='+text)
		link(rel='apple-touch-icon', sizes='180x180', href='/favicon/apple-icon-180x180.png?v='+text)

		meta(name='description', content='Tôi là Bảo Nguyên hiện là Full-Stack Developer tại nhiều công ty Nhật, USA, Singapore... Tôi cũng là giảng viên tại FPT. Tôi có hơn 8 năm làm việc trên Single Page Applications (SPA), ứng dụng mobile và website. Tôi có nhiều kinh nghiệm về Design, HTML, SASS, PUG, Ionic, Angular, NodeJS, several version control systems... là tác giả của nhiều sản phẩm phần mềm IT tại VN.')
		link(rel='profile', href='http://gmpg.org/xfn/11')
		link(rel='pingback')
		// Meta verification
		meta(name='google-site-verification', content='VhfbPndGW-UftEvWql2Nwt7F1F5KBgd3lMcGgjn4Ovc')
		meta(name='msvalidate.01', content='F7679394C660249FBA58732D6100A65A')
		meta(name='yandex-verification', content='bc82adfacdd74cbf')
		// Meta Tag
		meta(name='generator', content='Nguyen Pham Curriculum Vitae, Nguyen Pham Résumé, Nguyen Pham CV, Nguyen Pham Resume')
		meta(name='robots', content='noodp')
		meta(name='keywords', content='Bao Nguyen, Bảo Nguyên, Brands Designer, Web Developer, Apps Developer, Photograper, Front-End Developer')
		link(rel='dns-prefetch', href='http://maps.googleapis.com/')
		link(rel='dns-prefetch', href='http://s.w.org/')
		// SEO MAP
		meta(name='DC.title', content='Home')
		meta(name='geo.region', content='EN')
		meta(name='geo.placename', content='Nguyen Pham Curriculum Vitae, Nguyen Pham Résumé, Nguyen Pham CV, Nguyen Pham Resume')
		meta(name='geo.position', content='36.204824;138.252924')
		meta(name='ICBM', content='36.204824,138.252924')
		// SEO
		meta(name='author', content='Nguyen Pham Curriculum Vitae, Nguyen Pham Résumé, Nguyen Pham CV, Nguyen Pham Resume')
		link(rel='canonical', href='https://baonguyenyam.github.io/cv/')
		// Social: Twitter
		meta(name='twitter:card', content='Home - Nguyen Pham Curriculum Vitae, Nguyen Pham Résumé, Nguyen Pham CV, Nguyen Pham Resume')
		meta(name='twitter:site', content='baonguyenyam.github.io/cv')
		meta(name='twitter:creator', content='@Bao Nguyen')
		meta(name='twitter:title', content='Home - Nguyen Pham Curriculum Vitae, Nguyen Pham Résumé, Nguyen Pham CV, Nguyen Pham Resume')
		meta(name='twitter:description', content='Tôi là Bảo Nguyên hiện là Full-Stack Developer tại nhiều công ty Nhật, USA, Singapore... Tôi cũng là giảng viên tại FPT. Tôi có hơn 8 năm làm việc trên Single Page Applications (SPA), ứng dụng mobile và website. Tôi có nhiều kinh nghiệm về Design, HTML, SASS, PUG, Ionic, Angular, NodeJS, several version control systems... là tác giả của nhiều sản phẩm phần mềm IT tại VN.')
		meta(name='twitter:image:src', content='https://baonguyenyam.github.io/img/main.png')
		// Social: Facebook / Open Graph
		meta(property='og:type', content='website')
		meta(property='og:url', content='https://baonguyenyam.github.io/cv/')
		meta(property='og:title', content='Nguyen Pham Curriculum Vitae, Nguyen Pham Résumé, Nguyen Pham CV, Nguyen Pham Resume')
		meta(property='og:image', content='https://baonguyenyam.github.io/img/main.png')
		meta(property='og:description', content='Tôi là Bảo Nguyên hiện là Full-Stack Developer tại nhiều công ty Nhật, USA, Singapore... Tôi cũng là giảng viên tại FPT. Tôi có hơn 8 năm làm việc trên Single Page Applications (SPA), ứng dụng mobile và website. Tôi có nhiều kinh nghiệm về Design, HTML, SASS, PUG, Ionic, Angular, NodeJS, several version control systems... là tác giả của nhiều sản phẩm phần mềm IT tại VN.')
		meta(property='og:site_name', content='Nguyen Pham Curriculum Vitae, Nguyen Pham Résumé, Nguyen Pham CV, Nguyen Pham Resume')
		meta(property='article:author', content='//www.facebook.com/pham.nguyen.bao.nguyen')
		meta(property='article:publisher', content='//www.facebook.com/pham.nguyen.bao.nguyen')
		// Social: Google / Schema.org
		link(rel='author', href='//plus.google.com/+baonguyenyam/')
		link(rel='publisher', href='//plus.google.com/+baonguyenyam/')
		meta(itemprop='name', content='Nguyen Pham Curriculum Vitae, Nguyen Pham Résumé, Nguyen Pham CV, Nguyen Pham Resume')
		meta(itemprop='description', content='Tôi là Bảo Nguyên hiện là Full-Stack Developer tại nhiều công ty Nhật, USA, Singapore... Tôi cũng là giảng viên tại FPT. Tôi có hơn 8 năm làm việc trên Single Page Applications (SPA), ứng dụng mobile và website. Tôi có nhiều kinh nghiệm về Design, HTML, SASS, PUG, Ionic, Angular, NodeJS, several version control systems... là tác giả của nhiều sản phẩm phần mềm IT tại VN.')
		meta(itemprop='image', content='https://baonguyenyam.github.io/img/main.png')
		// Meta Tag Search
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-title', content='Nguyen Pham Curriculum Vitae, Nguyen Pham Résumé, Nguyen Pham CV, Nguyen Pham Resume')
		// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
		// WARNING: Respond.js doesn't work if you view the page via file://
		//
			if lt IE 9
			script(src='//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
			script(src='//oss.maxcdn.com/respond/1.4.2/respond.min.js')
		meta(property='og:image', content='https://baonguyenyam.github.io/cv/img/2019-10-18_114139.png')
		meta(property='og:image', content='https://baonguyenyam.github.io/cv/img/2019-10-18_114152.png')
		meta(property='og:image', content='https://baonguyenyam.github.io/cv/img/nguyen.jpg')

		link(rel='icon', type='image/png', sizes='192x192', href='/favicon/android-icon-192x192.png?v='+text)
		link(rel='icon', type='image/png', sizes='32x32', href='/favicon/favicon-32x32.png?v='+text)
		link(rel='icon', type='image/png', sizes='96x96', href='/favicon/favicon-96x96.png?v='+text)
		link(rel='icon', type='image/png', sizes='16x16', href='/favicon/favicon-16x16.png?v='+text)
		link(rel='manifest', href='/favicon/manifest.json?v='+text)
		if process.env.NODE_ENV === 'production'
			link(rel='stylesheet', key=val, href='/cv/css/bundle.min.css?v='+text)
		else
			include ../layout/includes/css
		if process.env.NODE_ENV === 'production'
		else
			include ../layout/includes/js
	body(license-key=key.slice(50, 100)+"__________"+key.slice(70, 170)+"_____"+key+"____"+key+key+"________"+key.slice(0, 50))
		if process.env.NODE_ENV === 'production'
			script(key=hash.slice(10, 150))
				include cv.js
			//- script(key=hash.slice(10, 150), src='./cv.js?v='+text)
		else
			include cv
		if process.env.NODE_ENV === 'production'
			script(key=val, src='/cv/js/bundle.min.js?v='+text)
		else
			script(key=val, src='/cv/js/main.js?v='+text)
			script(key=val, src='/cv/js/dev.js?v='+text)
		script(type='text/javascript' src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit')
		script(type='text/javascript').
			function googleTranslateElementInit() {
				new google.translate.TranslateElement({
				pageLanguage: 'en', includedLanguages: 'en,vi',
				layout: google.translate.TranslateElement.InlineLayout.SIMPLE
				}, 'google_translate_element');
			}